@import "tailwindcss";


@theme {
  /* === PALET WARNA === */
  --color-cream: #F5F3EF;
  --color-paper: #FFFFFF;
  --color-ink: #0D0D0D;
  --color-graphite: #5C5A55;
  --color-hairline: #E4E1DA;
  
  /* Warna Aksen (Terracotta) */
  --color-accent: #C4633B;
  --color-accent-light: #E0906B;
  --color-accent-dark: #9A4A28;

  /* === TIPOGRAFI === */
  --font-display: "Space Grotesk", sans-serif;
  --font-sans: "Inter", sans-serif;

  /* === LETTER SPACING === */
  --tracking-widest2: 0.2em;

  /* anime */
  --animate-fade-in-up: fade-in-up 1s ease-out both;
  --animate-reveal-up: reveal-up 1.2s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  --animate-tech-in: tech-in 1.8s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
  --animate-soft-fade: soft-fade 1.5s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

 @keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translateY(40px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes reveal-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes tech-in {
  from {
    filter: blur(12px);
    transform: scale(0.92);
    opacity: 0;
  }
  to {
    filter: blur(0);
    transform: scale(1);
    opacity: 1;
  }
}


@keyframes soft-fade {
  from {
    opacity: 0;
    filter: blur(4px);
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}


